---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Place',
		description:
			'Confidential location in Paris, France. The exact address will be disclosed the day of.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Date',
		description:
			'September 30th 2022. It will start at 6pm and will last for 12 hours.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Theme',
		description:
			'"Gender Bender". You are expected to bend the rules of gender with fashion and attitude.',
		icon: 'flat-color-icons:video-projector',
	},
];
---

<section class="relative"  id="features">
	<div class="absolute inset-0 bg-stone-50  pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-stone-600 ">Details</p>
				<h2 class="text-4xl md:text-5xl leading-tighter mb-4 font-heading">
					Season One, Episode One
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-stone-600">
					The information outlined herein is intended to help you anticipate. Should you require further detail, contact us via the proper channels.
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 ">
				{
					items.map(({ title, description }) => (
						<div class="relative flex flex-col p-6 bg-stone-50 shadow-xl hover:shadow-lg transition">
							<div class="flex items-center mb-4">
								<div class=" text-2xl">{title}</div>
							</div>
							<p class="text-stone-700 dark:text-stone-600 text-lg">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
