---
import { Icon } from 'astro-icon';
---

<section>
	<div id="size" class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-heading text-stone-900">
								Size Guide.
							</h2>

							<p class="mb-8 text-xl text-stone-700">
								Use this size guide to choose the right size for your needs.
							</p>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl rounded-full bg-emerald-800 text-stone-100"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-heading text-stone-900">Petit</h3>
									<p class="text-stone-700">
										Equivalent to Small/Medium
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl rounded-full bg-emerald-800 text-stone-100"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-heading text-stone-900">Moyen</h3>
									<p class="text-stone-700">
										Equivalent to Large/X-Large
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl rounded-full bg-emerald-800 text-stone-100"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-heading text-stone-900">Grand</h3>
									<p class="text-stone-700 ">
										Equivalent to XX-Large/XXX-Large
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
