---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="border-t-2 border-black bg-stone-900">
	<div class="max-w-3xl mx-auto px-4 sm:px-6 bg-stone-800 text-stone-100">
		<div class="grid  gap-4 gap-y-8 py-3 md:py-3">
			
			<div class="col-span-12 lg:col-span-4 text-center">
				<div class="text-4xl"><a
					class="text-stone-300 hover:text-stone-500 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-3xl p-2.5 inline-flex items-center"
					aria-label="t-shirt"
					href="/t-shirt"
				>
					Base T-shirt
				</a>
			</div>
				
				<a
					class="text-stone-300 hover:text-stone-500 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-xl p-2.5 inline-flex items-center"
					aria-label="Email"
					href="mailto:contact@darnadir.com"
				>
					<Icon name="tabler:mail" class="w-7 h-7" />
				</a>
				<div class="text-2xl">
					<a
						class=" text-stone-200 hover:text-stone-500 transition duration-150 ease-in-out"
						href="/terms-conditions">Terms & Conditions</a
					>  · 
					<a
						class="text-stone-300 hover:text-stone-500 transition duration-150 ease-in-out"
						href="/privacy-policy">Privacy Policy</a
					>
				</div><br>
				<div class=" text-stone-500 mr-4 text-xl">
					Exclusive property of <br>
					<a class="inline-block text-3xl text-stone-200 hover:text-stone-500 transition duration-150 ease-in-out" href="https://instagram.com/nadirhajarabi">Nadir Hajarabi</a><br>
					All rights reserved 2022
				</div> 
			</div>
			
		</div>
	</div><div class="py-3 w-full bg-stone-900"></div>
</footer>
