---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import Video from "~/components/core/Video.astro";
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-3xl mx-auto">
				<h1 class="text-7xl mb-4 bg-clip-text text-transparent bg-gradient-to-r from-stone-700 via-stone-400 to-stone-700">
					The time has come
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-2xl text-stone-800 mb-4 ">
						Nadir Hajarabi cordially invites you to the first Dar Nadir installment
					</p>
					<p class="text-4xl text-stone-900 mb-4 ">
						Season One, Episode One.
					</p>
					<p class="text-2xl text-stone-800 mb-8 ">
						Be there.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-stone-50 bg-emerald-800 hover:bg-emerald-900  sm:mb-0 w-full text-3xl"
								href="https://github.com/onwidget/astrowind"
								target="_blank"
								rel="noopener"
							>
							I'm coming
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-stone-50 bg-stone-900 hover:bg-stone-800 w-full text-xl"
								href="#features">Learn more</a
							>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<!-- <Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/><br> --><Video src="src/assets/vlight.mp4" />
				
				</div>
			</div>
		</div>
	</div>
</section>
