---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import Video from "~/components/core/Video.astro";
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-0 md:pb-0 max-w-3xl mx-auto">
				<h1 class="pb-4 text-6xl mb-4 bg-clip-text text-transparent bg-gradient-to-r from-stone-700 via-stone-400 to-stone-700">
					Spring Summer 2023
				</h1>
				<p class="text-5xl text-stone-800 mb-4 ">
					Fashion Show
				</p>
<!-- 				<div class="max-w-3xl mx-auto">
					<p class="text-2xl text-stone-800 mb-4 ">
						Dar Nadir's first collection is an ode to radical minimalism. Featuring 
					</p>
					<p class="text-4xl text-stone-900 mb-4 ">
						Watch the Fashion Show.
					</p>
					<p class="text-2xl text-stone-800 mb-8 ">
						Featuring the only piece of the collection: the Household Name T-shirt.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-stone-50 bg-emerald-800 hover:bg-emerald-900  sm:mb-0 w-full text-3xl"
								href="https://github.com/onwidget/astrowind"
								target="_blank"
								rel="noopener"
							>
							Watch
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-stone-50 bg-stone-900 hover:bg-stone-800 w-full text-2xl"
								href="#features">Learn more</a
							>
						</div>
					</div>
				</div> -->
			</div>
			<div>
				<div class="relative mb-0 m-auto max-w-3xl">
					<!-- <Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/><br> --><Video src="src/assets/vlight.mp4" />
				
				</div>
			</div>
		</div>
	</div>
</section>
