---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
	</head>

	<body class="antialiased text-gray-900 tracking-normal bg-stone-200 font-paris">
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
